<h2>Who am I?</h2>
<p style="padding: 0 1px; margin: 0;">
	My name is Benny Peake! I am a senior at Worcester Polytechnic Institute, majoring in both Computer Science and Interactive Media and Game Development (IMGD). In short, I enjoy corgis, speed runs, and most
	importantly have a huge passion for game design and programming!
</p>
<b></b>
<p>
	Over the past six years, I have worked on a large number of games as a programmer. I have worked on a variety of complex systems including networking, planetary physics, and even gpu acceleration. My
	skills as a programmer aren't just limited to game programming. This last year, I did an internship at One Zero Financial where I programmed a number of pieces of C++ code for both frontend
	and backend pieces of software.
</p>
<b></b>
<p>
    My interest in game design is not just limited to programming. I have also dipped my hand into areas such as level design and material creation. But more importantly, I have also made a large
    effort to reach out to others interested in game design. In the past, I have helped to organize events where people can share their knowledge on making games, and have even participated in
    teaching others. As stated before, I am passionate about making games, and like to share that passion with others through all the means I can.
</p>