
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Whoops...</h1>
<p>Looks like this page doesn't exist.</p>
<img src="~/Content/img/ERROR 404.gif" , style="display: block; margin-left: auto; margin-right: auto;" alt=""/>